header {
  background:$White;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  padding: 24px;
  z-index: 1000;
  @media (max-width: 1023px) {
    button {
      display: none;
    }
  }
}

nav {
  

  .navLinks {
    > li:not(:last-child) {
      margin-right: 15px;
    }

    @media (max-width: 1023px) {
      display: none;
    }
  }

  .hamburger {
    cursor: pointer;

    @media (min-width: 1023px) {
      display: none;
    }
    span {
      display: block;
      width: 26px;
      background-color: $darkBlue;
      height: 2px;
    }

    > :not(:last-child) {
      margin-bottom: 4px;
    }
  }
}
