.hero {
  max-width: 1440px;
  margin: 0 auto;
  background-color: $VeryLightGray;

  &__image {
    width: 100%;
    height: 16.25rem;
    background-color: transparent;
    background-image: url("../images/bg-intro-mobile.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: transparent;
      background-image: url("../images/image-mockups.png"); 
      background-position: center bottom -10px;
      background-size: 19.31rem auto;
      background-repeat: no-repeat;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: $darkBlue;
    padding: 2.625rem 2rem;
    text-align: center;

    h1 {
      font-size: 2rem;
      font-weight: 300;
    }

    p {
      font-size: 0.75rem;
      color: $GrayishBlue;
    }
  }

  @media (min-width: 1023px) {
    display: flex;
    flex-direction: row-reverse;

    &__image {
      width: 46.875rem;
      height: 41.25rem;
      background-image: url("../images/bg-intro-desktop.svg");
      background-position: bottom -7rem left -3rem;
      background-size: unset;
      overflow: unset;
      z-index: 1000;
      &::before {
        height: 48.25rem;
        background-size: 45.625rem;
        background-position: left 9rem bottom -1rem;
      }
    }

    &__text {
      justify-content: start;
      align-items: start;
      width: 43.125rem;
      padding: 10.25rem 9rem;
      text-align: start;

      h1 {
        white-space: pre-wrap;
        font-size: 2.625rem;
      }

      p {
        font-size: 1rem;
        letter-spacing: 0;
      }
    }
  }
}
